{% extends "layout.html" %}
{% block content %}


<div class ="row">
	<div class="col-md-6 col-sm-12 col-xs-12">
		<h3>Deposit History</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		


		<h3>Wishlist</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>	
	</div>
	
	<div class="col-md-6 col-sm-12 col-xs-12">
		{% if piggybanks|length > 0 %}
		<h3>PiggyBanks</h3>
		{% for bank in piggybanks %}
		<div class="bankbox">
			<div class="col-md-8 col-sm-8 col-xs-8">
				<h4>{{ bank.name }}</h4>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-2">
				<p>${{ bank.current_balance }}</p>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-2">
				<form id="delbankform{{ bank.id }}" role="form" action="{{ url_for('delete_bank') }}" method="POST">
					<div class="form-group">
						{{ bankidform.csrf_token }}
						{{ bankidform.bankid(value=bank.id, id="deletebank"~bank.id, form="delbankform"~bank.id) }}
						<button type="submit" form="delbankform{{ bank.id }}" class="btn btn-default">Delete</button>
					</div>
				</form>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<br>
				{% if bank.allowances.count() %}
				<h4>Allowances</h4>
				{% for allowance in bank.allowances %}
				 <p>{{ allowance.amount }} | {{ allowance.frequency }} | {{ allowance.description }}</p>
				{% endfor %}
				{% endif %}
				<br>
				<h4>Add an Allowance:</h4>
				<form id="addallowanceform{{ bank.id }}" role="form" action="{{ url_for('add_allowance') }}" method="POST">
					<div class="form-group">
						{{ addallowanceform.csrf_token }}
						{{ addallowanceform.amount.label }}
						{{ addallowanceform.amount(placeholder="Amount", class="form-control") }}
						{{ addallowanceform.description.label }}
						{{ addallowanceform.description(placeholder="Description", class="form-control") }}
						{{ addallowanceform.frequency.label }}
						{{ addallowanceform.frequency(class="form-control") }}
						{{ bankidform.bankid(value=bank.id, id="addallowance"~bank.id, form="addallowanceform"~bank.id) }}
						<button type="submit" form="addallowanceform{{ bank.id }}" class="btn btn-default">Add Allowance</button>
					</div>
				</form>
				<br>
				{% if bank.deposits.count() %}
				<h4>Deposits:</h4>
				{% for deposit in bank.deposits %}
				<p>{{ deposit.amount_deposited }} | {{ deposit.date_deposited.strftime('%b. %d, %Y') }} | {{ deposit.description }}</p>
				{% endfor %}
				{% endif %}
				<h4>Make a Deposit</h4>
				<form id="adddepositform{{ bank.id }}" role="form" action="{{ url_for('add_deposit') }}" method="POST">
					<div class="form-group">
					{{ adddepositform.csrf_token }}
					{{ adddepositform.amount.label }}
					{{ adddepositform.amount(placeholder="Amount", class="form-control") }}
					{{ adddepositform.description.label }}
					{{ adddepositform.description(placeholder="Description", class="form-control") }}
					{{ bankidform.bankid(value=bank.id, id="adddeposit"~bank.id, form="adddepositform"~bank.id) }}
					<button type="submit" form="adddepositform{{ bank.id }}" class="btn btn-default">Add Deposit</button>
					</div>
				</form>
			</div>
		</div>
		{% endfor %}
		{% endif %}

		<h3>Add a PiggyBank</h3>
		<form id="addbankform" role="form" action="{{ url_for('add_bank') }}" method="POST">
			<div class="form-group">
		 	{{ addbankform.hidden_tag() }}
		 	{{ addbankform.bankname.label }}
		 	{{ addbankform.bankname(placeholder="Name", class="form-control")}}
		 	<button type="submit" form="addbankform" class="btn btn-default">Submit</button>
		 	</div>
	 	</form>
	</div>
</div>


{% endblock %}
