{% extends "layout.html" %}
{% block content %}

<h1> Temporary Login Page </h1>
<form id="loginform" role="form" action="{{url_for('login')}}" method="POST">
	<div class="form-group">

		<h2> Sign In: </h2>
		{{ loginform.hidden_tag() }}
		<p>{{ loginform.username.label }}</p>
		<p>{{ loginform.username(placeholder="Username", class="form-control") }}</p>
		<p>{{ loginform.password.label }}</p>
		<p>{{ loginform.password(placeholder="Password", class="form-control") }}</p>
		<button type="submit" form="loginform" class="btn btn-default">Submit</button>
	</div>	
</form>

{% if loginform.username.errors %}
	{% for error in loginform.username.errors %}
		<p> {{ error }} </p>
	{% endfor %}
{% elif loginform.password.errors %}
	{% for error in loginform.password.errors %}
		<p> {{ error }} </p>
	{% endfor %}
{% endif %}

{% endblock %}